nav {
  z-index: 100;
}

.cfd-cta {
  background-color: rgba(253, 253, 253, 1);
  color: #616161;
  border-radius: 40px;
  border: 1px solid #C1C1C1;
  padding: 10px 0;
  text-decoration: none;
  /* margin: 20px 0 25px 10%; */
  width: 20rem;
  text-align: center;
  transition: all 100ms;
}

.cfd-cta:active {
  color: white;
}

.cfd-cta-2:active {
  color: white;
}

.bottom-align {
  align-self: baseline;
  margin-top: 3rem;
  color: #fff;
}

.margin {
}

.align-left {
  text-align: left;
}

.landingHero {
  z-index: 0;
  margin-top: -2.1rem;
  height: 90vh;
  width: 100%;
  background: linear-gradient(rgba(44, 62, 80,1), rgba(44, 62, 80,.0)), url('./bkg.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heroContent {
  position: absolute;
  top: 7rem;
  width: 100%;
  color: #045a9e;
  /*background: white;*/
  /*text-shadow: 0px 1px 3px rgba(0,0,0,.3);*/
}

.heroContent h5 {
}

.skedge-brand {
  transition: all 3s;
  color: #045a9e;
  font-size: 3rem;
  text-shadow: 0px 1px 3px rgba(0,0,0,.3);
}



.skedge-brand.scrolled {
  font-size: 6rem;
  transform: translateY(1050px);
}

.scroll-icon {
  color: white;
  font-size: 3rem;
}

.skedgememo {
  color: #000;
}

canvas {
  background: linear-gradient(rgb(255, 255, 255,1),rgba(255, 255, 255, 0)),url(https://image.ibb.co/i6yXuK/Screen_Shot_2018_10_01_at_4_33_57_PM.png);
  background-size: cover;
  background-position: center;
}

.whyWeDo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(236, 240, 241,1.0);
  transition: all 1s;
}


.grow {
  display: inline-block;
  transition: all 1s;
}

@keyframes wiggle {
  from {
    transform: scale(1) translateX(1050px);
  }

  50% {
    transform: scale(9);
  }

  60% {
    transform: scale(1) translateX(0px);
  }

  100% {
    transform: scale(1) translateX(0px);
  }

}

.grow.scrolled {
  animation-name: wiggle;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-timing-function: linear;
  color: black;
}

.whyWeDoContent {
  width: 50%;
}

.no-margin {
  margin: 0;
}

.threeBenefits {
  margin: 0;
  background: linear-gradient(rgba(41, 128, 185,.8), rgba(41,128,185,.8)), url('https://images.pexels.com/photos/970629/pexels-photo-970629.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size: cover;
  background-attachment: fixed;
  height: 90vh;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.threeBenefits p {
  width: 50%;
  font-size: 1.6rem;
  text-align: center;
}

.threeBenefitItems {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: auto;
}

.benefitItem {
  border-radius: 4px;
  /* border: solid 1px black; */
  height: 20rem;
  width: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  transition: all 200ms;
  text-align: left;
}

.benefitItem h4 {
  text-align: left;
  width: 90%;
}



.cta-cont {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
}

.cta-cont p {
  text-align: center;
}

.b-p {
  text-align: left !important;
  font-size: 1rem !important;
  width: 90% !important;
}


.bene-text {
  margin: 0;
}

.icon {
  width: 90%;
  text-align: left !important;
  margin: 0;
  font-size: 2.5rem !important;
}





/************
Clients
************/


.clients {
  height: 20rem;
  width: 100%;
  background: rgba(236, 240, 241,1.0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.client-content {
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.price-text {
  width: 100%;
  text-align: center;
  font-size: 3rem;
}


/***************
reminders
***************/


.reminders {
  margin: 0;
  background: linear-gradient(rgba(41, 128, 185,.8), rgba(41,128,185,.8)), url('https://images.pexels.com/photos/1187439/pexels-photo-1187439.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size: cover;
  background-attachment: fixed;
  height: 90vh;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.reminderText {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 80%;
  width: 60%;
  font-size: 2.2rem;
  padding: 2rem;
}


.cfd-cta-2 {
  margin-top: 1rem;
  align-self: flex-start;
  background-color: rgba(253, 253, 253, 1);
  color: #616161;
  border-radius: 40px;
  border: 1px solid #C1C1C1;
  padding: 10px 0;
  text-decoration: none;
  /* margin: 20px 0 25px 10%; */
  width: 20rem;
  text-align: center;
  transition: all 100ms;
  font-size: 1.2rem;
}


/****************
reviews
****************/

.more-reviews {
  margin: 0;
  background: linear-gradient(rgba(41, 128, 185,.8), rgba(41,128,185,.8)), url('https://images.pexels.com/photos/917293/pexels-photo-917293.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size: cover;
  background-attachment: fixed;
  height: 90vh;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.reviewsText {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 80%;
  width: 60%;
  font-size: 2.2rem;
  padding: 2rem;
}

.img-phone-2 {
  height: 600px;
}

@media (max-width: 900px) and (min-width: 300px) {
  .landingHero {
    margin-top: 0px;
    -webkit-transform: translate3d(0,0,0);
  }

  .whyWeDoContent {
    width: 90%;
  }

  .whyWeDo h3 {
    font-size: 1.2rem;
  }

  .threeBenefits p {
    width: 95%;
    font-size: 1.2rem;
  }

  .threeBenefits {
    height: 165vh;
    padding-bottom: 3rem;
  }

  .clients {
    height: 40vh;
  }

  .price-text {
    font-size: 1.6rem;
  }

  .reminders {
    height: 100vh;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .reminderText {
    width: 90%;
    height:auto;
  }

  .img-phone {
    margin-top: 0rem;
    height: 500px;
    display: none;
  }

  .more-reviews {
    height: 110vh;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .img-phone-2 {
    margin-top: 1rem;
    height: 500px;
    display: none;
  }

  .reviewsText {
    width: 90%;
  }

  canvas {
    opacity: 0;
  }

  .heroContent {
    position: absolute;
    top: 50px;
    height: 100vh;
    color: white;
    background: linear-gradient(rgba(44,62,80,.6),rgba(44,62,80,.5)),url(/static/media/bkg.6ce6d51f.jpg);
    background-position: center;
    background-size: cover;
  }


  .scroll-icon {
display: none;
 }


 .cfd-cta-2 {
   margin-top: 2rem;
   padding-bottom: 2.5rem;
 }

.no-mobile-padding {
  padding: 1rem;
}


.cfd-cta {
  margin-top: 6rem;
  padding-bottom: 2.2rem;
}

}
