.contacts-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.reset-contact-form {
  margin-left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  background: transparent !important;
  box-shadow: none;
  color: black;
  transition: all 200ms;
}

.reset-contact-form:hover {
  box-shadow: none;
  transform: scale(1.05);
}

.reset-contact-form i {
  color: #c0392b;
}

.contact-list-container {
  height: 100%;
  width: 20rem;
  box-shadow: 1px 2px 2px rgba(0,0,0,.3);
  overflow-y: scroll;
}

.contact-details-page {
  height: 100%;
  width: 50rem;
  padding: 3rem;
  padding-top: 1rem;
}

.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  background: linear-gradient(#ecf0f1, #edf3f0);
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,.3);
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
  transition: all 200ms;
}

.contact:hover {
  background: #2980b9;
  color: white;
}


.contact-details {
  position: relative;
}

.contact-details input {
  background: white;
  padding-left: 1rem;
}

.delete-contact {
  background: none;
  padding-left: 1rem;
  padding-right: 1rem;
  border: solid 1px #c0392b;
  border-radius: 50%;
  margin: 0;
  color: #c0392b;
  transition: all 250ms;
}

.delete-contact:hover {
  background: #c0392b;
  color: white;
  border-color: black;
}

.del-contact {
}

.contact-inputs {
  margin-bottom: 2rem;
}

.search-box {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  height: 3rem;
  color: gray;
  transition: all 250ms;
}

.search-box:hover {
  color: black;
}

.search-bar {
  padding-left: 1rem !important;
  border-bottom: none !important;
  width: 60%;
}

.search-bar:focus {
  border-bottom: none !important;
  outline: none;
}

.search-bar::placeholder {
  font-weight: 200;
}

.search-icon {
  margin-top: 5px;
  align-self: center;
  margin-right: .5rem;
  position: absolute;
  right: 0;
}

@keyframes updated {
  from {
    transform: rotate(360deg) scale(.7);
  }

  5% {
    transform: rotate(0deg) scale(1);
  }

  to {
    opacity: 0;
    visibility: hidden;
  }
}

.updated-contact {
  /*animation-name: updated;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-fill-mode: both;*/
  position: absolute;
  bottom: -8rem;
  color: #27ae60;
  font-weight: 600;
}

.contact-edit-title {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
}

.add-contact-button {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  height: 4rem;
  width: 4rem;
  background: #3498db;
  color: white;
  border: none;
  border-radius: 50%;
}

@keyframes enterContactForm {
  from {
    transform: translateX(10px);
    opacity: 0;
  }

  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

.eventContactViewer {
  animation-name: enterContactForm;
  animation-duration: 150ms;
  animation-fill-mode: both;
  animation-timing-function: ease-in;
  position: absolute;
  right: 0;
  z-index: 10;
}

.white-bkg {
  background: white !important;
}
