.brand-logo {
  margin-left: 1rem;
}

.slight-margin-top: {
  margin-top: 1rem;
}

.full {
  width: 100%;
}

.picker__date-display {
  background: #025299;
}

.dash-con {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 64px);
  width: 100%;
}

.cal-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.cal-container div {
  /*height: 50%;
  width: 90%;*/
}

.cal-out {
  width: 85%;
}

.rbc-toolbar {
  flex-wrap: wrap;
  justify-content: center;
}

.rbc-day-bg {
  transition: all 200ms;
}

.rbc-day-bg:active {
  background: rgba(108, 186, 237, .1);
}

.rbc-addons-dnd .rbc-addons-dnd-over {
  background-color: rgba(108, 186, 237, .6) !important;
}

.eventView {
  height: 0px;
  transition: all 400ms;
}


.rbc-calendar {
  margin-bottom: 10px;
}
