.stats-page {
  height: 100%;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow: scroll;
}

.stats-box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 16rem;
  width: 16rem;
  box-shadow: 0 1px 2px rgba(0,0,0,.3);
  margin: 1rem;
  background: white;
  transform-style: preserve-3d;
  transition: all 300ms;
}

.stats-box:hover {
  transform: translateY(-10px);
  box-shadow: 1px 4px 5px rgba(0,0,0,.5);
}

.bottom-stats {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: #2196F3;
  color: white;
}

.stat-counter {
    width: 100%;
    font-size: 10rem;
    margin-bottom: 3rem;
    text-align: center;
}
