.campaign-view-container {
  width: 100%;
  height: 100%;
  display: flex;
}

.tag-container {
  width: 30%;
}

.tag-col {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
}

.tag-content {
  margin-top: 3%;
  margin-bottom: 5%;
}

.bp3-tab-list {
  padding-left: 1rem;
}
